.menuBtn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right:50%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menuBtn > span,
.menuBtn > span::before,
.menuBtn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
.menuBtn > span::before {
    content: '';
    top: -8px;
}
.menuBtn > span::after {
    content: '';
    top: 8px;
}


.nav{
    display: flex;
    position: fixed;
    visibility: hidden;
    top: 10px;
    left: -100%;
    width: 300px;
    height: 0;
    margin: 0;
    padding: 0 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 1;

}



.item {
    display: block;
    padding: 12px 15px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.item:hover {

    color: darkmagenta;
}


#menuToggle{
    opacity: 0;
}


#menuToggle:checked ~ .menuBtn > span{
    transform: rotate(45deg);
}
#menuToggle:checked ~ .menuBtn > span::before{
    top: 0;
    transform: rotate(0);
}
#menuToggle:checked ~ .menuBtn > span::after{
    top: 0;
    transform: rotate(90deg);
}
#menuToggle:checked ~ .nav{
    visibility: visible;
    left: 0;
}

.active {
    color: darkmagenta;
}


